
[run]
source = .
omit =
    */tests/*
   *manage.py
   *apps.py
   *migrations/*
   *asgi.py
   *wsgi.py
   */school/*
   conftest.py
   dummy_data.py

   *__init__*
   */__pycache__/*


[report]
#fail_under = 100
show_missing = True
#skip_covered = True