
[run]
source = .
omit =
    */test/*
   *manage.py
   *apps.py
   *migrations/*
   *asgi.py
   *wsgi.py
   */school/*

   *__init__*
   */__pycache__/*


[report]
#fail_under = 100
show_missing = True
#skip_covered = True